.login-image {
    background: linear-gradient(0deg, rgba($dark, 0.3), rgba($dark, 0.3)), url('../../images/login-background.jpg');
    background-size: cover;
}

.login-text {
    color: $light;

    @include media-breakpoint-up(md) {
        color: $dark;
    }
}