#sidebar {
    width: $sidebar-width;
    z-index: 99;

    @include media-breakpoint-between(md, xl) {
        width: 200px;
    }

    @include media-breakpoint-down(md) {
        position: absolute;
        transform: translate(-100%);
    }

    .side-header {
        height: $side-header-height;
    }

    .nav-options,
    .nav-action {
        padding: 1rem;
    }

    .nav-link {

        &.active,
        &:hover {
            text-decoration: none;
            background-color: $primary;
            color: $dark;
            font-weight: bold;
        }
    }
}

// sidebar toggle icon
.toggle {
    transform: rotate(90deg);
}

// mobile menu toggle icon
.mobile-toggle {
    top: 15px;
    right: -10px;
    color: $dark;
    transform: translate(100%);
    z-index: 100;

    @include media-breakpoint-down(sm) {
        top: 18px;
    }
}

// after checking sidebar toggle checkbox
#toggleSidebar:checked {
    &~#sidebar {
        width: 70px;

        .nav-link {
            justify-content: center;
        }

        .nav-options,
        .nav-action {
            padding: 1rem 0.25rem
        }

        .logo-text,
        .nav-text {
            position: absolute;
            transform: translate(-230px);
        }

        .icon-signout {
            color: $light;
        }
    }

    &~.toggle {
        transform: rotate(275deg);
    }
}

// after checking mobile checkbox
#mobileToggle:checked {
    &~#sidebar {
        transform: translate(0%);
    }

    &~.mobile-toggle {
        color: $light;
    }
}