#sidebar {
    width: $sidebar-width;

    .side-header {
        height: $side-header-height;
    }

    .nav-link {
        &.active {
            text-decoration: none;
            background-color: $primary;
            color: $dark;
            font-weight: bold;
        }
    }
}